*,*:before,*:after{
    box-sizing: border-box;
}

html{
    box-sizing: border-box;

}

html,body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
}
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: 
    linear-gradient(
      200deg,
      rgba(54, 54, 133, 0.8),
      rgba(106, 106, 207, 0.7)
    ),url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
background-size: cover;    
    color: white;
    
}


.container{
    width: 50%;
    
  
}
h1,.description{
    display: flex;
    justify-content:center ;
}

form{
    background-color: rgba(27, 27, 50, 0.8);
    padding: 30px 30px 30px 30px;
    display:flex;
    flex-wrap: wrap;
    
}

.form-group{
width: 100%;
display: flex;
flex-wrap: wrap;
}

label,p,select,button,textarea,input[type="text"],input[type="email"],input[type="number"]{
    width: 100%;
    
    border-radius: 8px;
}
select,input[type="text"],input[type="email"],input[type="number"]{
    height: 2rem;
    
}
textarea{
    height: 6rem;
 margin: 0px 0px 1rem 0px ;
}


#name-label,#email-label,#number-label{
    margin: 15px 0px 8px 0px;
}button{
    background-color: #37af65;
    height: 2.5rem;
}

